* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Light.ttf");
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

h1 {
  color: #007deb;
  margin-bottom: 10px;
  font-size: 32px;
  text-transform: capitalize;
}

p {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d3d4d6;
}
@media only screen and (min-width: 1200px) {
  section {
    height: 100vh;
  }
}
section .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
section .container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section .container .top-sec {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  section .container .top-sec {
    margin-bottom: 65px;
  }
}
section .container .top-sec .heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1200px) {
  section .container .top-sec .heading {
    margin-bottom: 20px;
  }
}
section .container .top-sec .heading .round {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #007deb;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1200px) {
  section .container .top-sec .heading .round {
    width: 75px;
    height: 75px;
    font-size: 45px;
  }
}
section .container .top-sec .heading h1 {
  color: black;
  margin-bottom: 0px;
  margin-left: 25px;
  text-transform: capitalize;
}
@media only screen and (min-width: 1200px) {
  section .container .top-sec .heading h1 {
    font-size: 75px;
  }
}
section .container .top-sec .discrip {
  font-size: 25px;
}
@media only screen and (min-width: 1200px) {
  section .container .top-sec .discrip {
    font-size: 33px;
    line-height: 45px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .bottom-sec {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 480px;
  }
}
section .container .left,
section .container .center,
section .container .right {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1200px) {
  section .container .left,
section .container .center,
section .container .right {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  section .container .left,
section .container .center,
section .container .right {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 1400px) {
  section .container .left,
section .container .center,
section .container .right {
    padding-left: 30px;
    padding-right: 30px;
  }
}
section .container .left h1,
section .container .center h1,
section .container .right h1 {
  font-size: 25px;
}
section .container .left p,
section .container .center p,
section .container .right p {
  font-size: 18px;
}
section .container .left {
  padding-left: 0px;
  padding-top: 0px;
}
section .container .center {
  border-top: 2px solid #d3d4d6;
  border-bottom: 2px solid #d3d4d6;
}
@media only screen and (min-width: 1200px) {
  section .container .center {
    border: none;
    border-left: 2px solid #d3d4d6;
    border-right: 2px solid #d3d4d6;
  }
}
section .container .right {
  padding-bottom: 0px;
  display: block;
}
@media only screen and (min-width: 1200px) {
  section .container .right {
    padding-right: 0px;
  }
}

.img-grid img {
  width: 260px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .visualize img {
    width: 350px !important;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .visualize img {
    width: 280px !important;
    margin: 0px;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1400px) {
  .visualize img {
    width: 320px !important;
  }
}
@media only screen and (min-width: 768px) {
  .visualize .one {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: flex-end;
  }
}
@media only screen and (min-width: 768px) {
  .visualize .two {
    grid-column: 1/2;
    grid-row: 2/4;
    align-self: center;
  }
}
@media only screen and (min-width: 768px) {
  .visualize .three {
    grid-column: 2/3;
    grid-row: 3/5;
  }
}

#visualize-two .container p {
  margin-bottom: 35px;
}
#visualize-two .container img {
  width: 280px;
}
#visualize-two .container .bottom-sec .center p {
  margin-bottom: 80px;
}
#visualize-two .container .img-grid .center p {
  margin-bottom: 70px;
}
#visualize-two .container .img-grid .three {
  grid-column: 1/2;
  grid-row: 1/3;
}
#visualize-two .container .img-grid .three img {
  width: 265px;
}

.control .bottom-sec,
.illuminate .bottom-sec {
  display: block;
}
.control .bottom-sec .right .img-grid,
.illuminate .bottom-sec .right .img-grid {
  display: block;
  text-align: center;
}
.control .bottom-sec .center,
.illuminate .bottom-sec .center {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 1200px) {
  .control .bottom-sec .center,
.illuminate .bottom-sec .center {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.control .right h1,
.illuminate .right h1 {
  margin-bottom: 25px;
}
.control .right .img-grid,
.illuminate .right .img-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.control .right .img-grid .round,
.illuminate .right .img-grid .round {
  width: 90px;
}
.control .right .img-grid .form,
.illuminate .right .img-grid .form {
  width: 220px;
}
@media only screen and (min-width: 1200px) {
  .control .right .img-grid .form,
.illuminate .right .img-grid .form {
    width: 190px;
  }
}
.control .right .img-grid .three-sq,
.illuminate .right .img-grid .three-sq {
  width: 500px;
}
.control .three-sq-sm,
.illuminate .three-sq-sm {
  width: 180px;
}
@media only screen and (min-width: 1200px) {
  .control .three-sq-sm,
.illuminate .three-sq-sm {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  #control-two .bottom-sec {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  #control-two .bottom-sec .right {
    padding-right: 25px;
    border-right: 2px solid #d3d4d6;
  }
}

#control-two img {
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}
@media only screen and (min-width: 1200px) {
  #control-two img {
    width: 170px;
  }
}
#control-two .left img {
  display: block;
  width: 135px;
}

@media only screen and (min-width: 768px) {
  #control-one .img-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
  #control-one .img-grid {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  #control-one .img-grid img {
    margin-left: initial;
    margin-right: initial;
  }
}
@media only screen and (min-width: 1200px) {
  #control-one .img-grid .form {
    margin-left: 25px;
  }
}
#control-one .three-sq-sm {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  #control-one .three-sq-sm {
    display: flex;
    justify-content: space-between;
  }
}
#control-one .three-sq-sm img {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  #control-one .three-sq-sm img {
    width: 30%;
    margin-bottom: 0px;
  }
}

.illuminate img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

@media only screen and (min-width: 1200px) {
  #illuminate-one .container {
    grid-template-columns: 1fr 1fr 2fr;
  }
}
@media only screen and (min-width: 768px) {
  #illuminate-one .container .right .img-grid {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  #illuminate-one .container .right .img-grid {
    row-gap: 10px;
  }
}
#illuminate-one .container .right .img-grid img {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1200px) {
  #illuminate-one .container .right .img-grid img {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #illuminate-one .container .right .img-grid .blur-img {
    grid-column: span 2;
    align-self: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  #illuminate-one .container .right .img-grid .tyers,
#illuminate-one .container .right .img-grid .cards {
    width: 47%;
  }
}
@media only screen and (min-width: 1200px) {
  #illuminate-one .container .right .img-grid .blur-img {
    width: 450px;
    margin-left: initial;
  }
}

#illuminate-two img {
  margin-top: 25px;
}
@media only screen and (min-width: 1200px) {
  #illuminate-two img {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  #illuminate-two .bottom-sec {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  #illuminate-two .right {
    padding-right: 25px;
    border-right: 2px solid #d3d4d6;
  }
}

/*# sourceMappingURL=style.css.map */
