// control section
.control,
.illuminate {
    // bottom sec
    .bottom-sec {
        display: block;
        .right {
            .img-grid {
                display: block;
                text-align: center;
            }
        }
        .center {
            padding-top: 25px;
            padding-bottom: 25px;
            @include resp (1200px) {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }
    .right {
        h1 {
            margin-bottom: 25px;
        }
        // image grid
        .img-grid {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            .round {
                width: 90px;
            }
            .form {
                width: 220px;
                @include resp (1200px) {
                    width: 190px;
                }
            }
            .three-sq {
                width: 500px;
            }
        }
    }
    .three-sq-sm {
        width: 180px;
        @include resp(1200px) {
            width: 100%;
        }
        
    }
}


#control-two {
    img {
        @include resp (1200px) {
            // display: none!important;
            opacity: 0;
        }
    }
    .bottom-sec {
        @include resp (1200px) {
            grid-template-columns: repeat(4, 1fr);
        }
        .right {
            @include resp (1200px) {
                padding-right: 25px;
                border-right: 2px solid $border-color;
            }

        }
    }
}


#control-two {
    img {
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
        @include resp (1200px) {
            width: 170px;
        }
    }
    // left side
    .left {
        img {
            display: block;
            width: 135px;
        }
    }
    // center side
    
}

#control-one {
    // right side

    .img-grid {
        @include resp (768px) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        @include resp (1200px) {
            justify-content: flex-start;
        }
        img {
            @include resp (1200px) {
                margin-left: initial;
                margin-right: initial;
            }
        }
        .form {
            @include resp(1200px) {
                margin-left: 25px;
            }
        }
    }

    .three-sq-sm {
        margin-left: auto;
        margin-right: auto;
        @include resp(1200px) {
            display: flex;
            justify-content: space-between;
        }
        img {
            width: 100%;
            @include resp (1200px) {
                width: 30%;
                margin-bottom: 0px;
            }
        }
    }
}
