// illuminate
.illuminate {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 280px;
    }
}

#illuminate-one {
    .container {
        @include resp(1200px) {
            grid-template-columns: 1fr 1fr 2fr;
        }
        .right {
            .img-grid {
                @include resp(768px) {
                    display: flex;
                }
                @include resp(1200px) {
                    row-gap: 10px;
                }
                img {
                    margin-bottom: 25px;
                    @include resp(1200px) {
                        margin-bottom: 0px;
                    }
                }
                .blur-img {
                    @include resp(1200px) {
                        grid-column: span 2;
                        align-self: flex-start;
                    }
                }
                .tyers,
                .cards {
                    @include resp(1200px) {
                        width: 47%;
                    }
                }
                .blur-img {
                    @include resp (1200px) {
                        width: 450px;
                        margin-left: initial;

                    }
                }
            }
        }
    }
}

#illuminate-two {
    img {
        margin-top: 25px;
        @include resp(1200px) {
            width: 100%;
            // display: none!important;
            opacity: 0;
        }
    }
    .bottom-sec {
        @include resp (1200px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .right {
        @include resp (1200px) {
            padding-right: 25px;
            border-right: 2px solid $border-color;
        }
    }
}
