* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Light.ttf");
}

$container-max-widths: (
    576px: 540px,
    768px: 720px,
    992px: 960px,
    1200px: 1140px,
    1400px: 1320px,
);

$border-color: #d3d4d6;

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@each $var, $i in $container-max-widths {
    .container {
        @include resp($var) {
            max-width: $i;
        }
    }
}

// import files 
@import 'common';
@import 'visualize';
@import 'control';
@import 'illuminate';